*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TABLE OF CONTENT     */
/* -------------------  */
/* 1. VARIABLES         */
/* 1.1 Colors           */
/* 1.2 Fonts families   */
/* 2. GENERAL STYLING   */
/* 3. AUXILIARY CLASSES */

:root {
  /* // 1. VARIABLES // */

  /* / 1.1 Colors / */
  /* format: --clr-(Primary/Neutral/Gradient)-name */

  /*- Primary -*/
  --clr-p-lgt-red: hsl(356, 100%, 66%);
  --clr-p-very-lgt-red: hsl(355, 100%, 74%);
  --clr-p-very-dk-blue: hsl(208, 49%, 24%);

  /*- Neutral -*/
  --clr-n-white: #fff;
  --clr-n-lgest-grey: #8d8e93;
  --clr-n-lgt-grey: #efeff1;
  --clr-n-grey: #5d7183;
  --clr-n-grayish-blue: hsl(240, 3%, 79%);
  --clr-n-very-dk-black-blue: hsl(240, 10%, 16%);

  /*- Gradient -*/
  --gradient-org-to-red: rgba(255, 143, 112, 1) 0%, rgba(255, 61, 84, 1) 100%;

  --gradient-grayblue-to-desatured-blue: rgba(47, 48, 65, 1) 0%,
    rgba(62, 65, 100, 1) 100%;

  /* / 1.2 Font Families / */
  --ff-overpass: "Overpass", sans-serif;
  --ff-ubuntu: "Ubuntu", sans-serif;

  /* / 1.3 General Variables / */
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* // ------------------- // */

/* // 2. GENERAL STYLING // */

body {
  font-family: var(--ff-overpass);
  background-color: var(--clr-n-white);
}

section {
  text-align: center;
}

.svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

img {
  max-width: 375px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h4,
h3 {
  font-size: 1.6rem;
  color: var(--clr-g-very-dk-desatured-blue);
}

p {
  /* values based on MDN's values */
  max-width: 60ch;
  line-height: 1.75;
  letter-spacing: -0.0027777778rem;
  color: var(--clr-n-grey);
}

/* // ------------------- // */

/* // 3. AUXILIARY CLASSES // */

.section-center {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.btn {
  display: inline-block;
  font-family: var(--ff-ubuntu);
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 200px;
  padding: 0.8em;
  color: var(--clr-p-lgt-red);
  background-color: var(--clr-n-white);
}

.btn:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.btn:focus-visible {
  outline: 5px solid #000;
}

/* // ------------------- // */

/*  */

.test {
  z-index: 1000;
}

.header {
  position: absolute;
  top: 7vh;
  left: 5%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.hamburguer {
  cursor: pointer;
  background: transparent;
  border: none;
  height: 100%;
}

.xIcon {
  display: none;
}

nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 18vh;
  left: 5vw;
  width: 90vw;
  border-radius: 6px;
  padding: 2em 0;
  background: var(--clr-n-white);
  box-shadow: var(--box-shadow);
  z-index: 100;
}

/* initial state should be display: none */
nav {
  display: none;
}

.nav__right-items {
  margin-top: 1em;
}

.nav__item {
  height: auto;
  padding: 1em 1.5em;
}

.nav__left-items li:nth-child(1) {
  padding-top: 0;
}

.nav__item > button {
  position: relative;
  font-family: var(--ff-ubuntu);
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  color: var(--clr-g-very-dk-gray-blue);
  background: transparent;
}

.nav__item button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.nav__item > button::after {
  position: absolute;
  top: -15%;
  left: 110%;
  content: url("./images/icon-arrow-dark.svg");
}

.nav__submenu {
  display: none;
  border-radius: 7px;
  margin-top: 1em;
  padding: 0.3em 0.6em;
  background-color: var(--clr-n-lgt-grey);
}

.nav__submenu__item a {
  display: inline-block;
  font-weight: bold;
  margin: 0.5em 0;
  color: var(--clr-n-grey);
}

.nav__submenu__item a:hover {
  color: #000;
}

.btn--login {
  font-size: 1.3rem;
  font-family: var(--ff-overpass);
  color: var(--clr-n-very-dk-black-blue);
}

.btn--sign-up {
  padding: 1em 3em;
  color: var(--clr-n-white);
  background: rgb(255, 143, 112);
  background: linear-gradient(90deg, var(--gradient-org-to-red));
}

/*  */

.hero {
  position: relative;
  min-height: 100vh;
  align-items: center;
  overflow: hidden;
  /* padding to centralize based on the .header positioning */
  padding-top: 7vh;
  border-bottom-left-radius: 100px;
  background: linear-gradient(155deg, var(--gradient-org-to-red));
}

.hero__info {
  /* z-index only works for positioned elements */
  position: relative;
  max-width: 20rem;
  z-index: 10;
}

.hero__svg-bg {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -40%);
  z-index: 1;
}

.hero__svg-bg img {
  max-width: 14000px;
  width: 400%;
  height: auto;
}

.hero h1 {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 0.4em;
  color: var(--clr-n-white);
}

.hero h2 {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1.8em;
  color: var(--clr-n-white);
}

.hero__btns {
  justify-content: space-between;
}

.btn--border {
  background: none;
  color: var(--clr-n-white);
  border: 1px solid var(--clr-n-white);
}

/*  */

.text-above-section {
  display: block;
  margin: 4.5em 0 2.25em 0;
  text-align: center;
}

.section__image {
  display: Flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2.25em;
}

.section__image img {
  width: 100%;
}

.section__info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.section__info__text h3 {
  margin-bottom: 0.5em;
}

.section__info__text + .section__info__text {
  margin-top: 3em;
}

.section-1,
.section-2 {
  position: relative;
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
}

.section__info {
  width: 80%;
  margin: 0 auto;
}

.section--stripe__info {
  width: 100%;
}
/*  */

.section--stripe {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 17em;
}

.section--stripe__phones-svg {
  position: absolute;
  width: 100%;
  top: -40%;
  z-index: 100;
}

.section--stripe__phones-svg img {
  width: 100%;
}

.section--stripe__info {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-top: 12em;
  padding-bottom: 6em;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  background: linear-gradient(
    150deg,
    var(--gradient-grayblue-to-desatured-blue)
  );
}

.section--stripe__info__text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.section--stripe__info__text h3,
.section--stripe__info__text p {
  color: var(--clr-n-white);
}
.section--stripe__info__text h3 {
  font-size: 2rem;
}

.section--stripe__info__text p {
  font-size: 0.925rem;
  max-width: 35ch;
}

.stripe__svg-bg {
  position: absolute;
  width: 100%;
  top: -45%;
  left: -28%;
  z-index: 1;
}

.stripe__svg-bg img {
  width: 155%;
  height: auto;
}

/*  */

footer {
  border-top-right-radius: 90px;
  margin-top: 4.5em;
  background: #24242c;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  padding: 3.8em 0;
}

.img-wrapper {
  margin-bottom: 4em;
}

.footer__item {
  text-align: center;
  color: var(--clr-n-white);
}

.footer__link:hover {
  color: var(--clr-n-white);
}

.footer__item + .footer__item {
  margin-top: 2em;
}

.footer__item p {
  font-weight: 700;
  color: var(--clr-n-white);
  margin: 0 auto;
}

/* first li item (ignores <p>) */
.footer__item li:nth-child(2) {
  margin-top: 1em;
}

.footer__item__subitem + .footer__item__subitem {
  margin-top: 0.7em;
}

.footer__link {
  font-weight: 600;
  color: var(--clr-n-lgest-grey);
}

/* ================================== */

/* Minor changes */
/* Mainly on fonts */
@media screen and (min-width: 450px) {
  .hero__info {
    max-width: 70%;
  }

  p {
    max-width: initial;
  }

  .hero h1 {
    font-size: 3rem;
    line-height: 1.4;
    margin-bottom: 0.4em;
    color: var(--clr-n-white);
  }

  .hero h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1.8em;
    color: var(--clr-n-white);
  }

  .section__info h3 {
    font-size: 1.7rem;
  }

  .section__info p {
    font-size: 1.1rem;
  }

  .section--stripe__info__text h3 {
    font-size: 2.1rem;
  }
}

/* Repositioning the stripe bg */
/* Other minor changes */
@media screen and (min-width: 600px) {
  .section-1 h4 {
    font-size: 2.5rem;
  }

  .footer {
    font-size: 1.4rem;
  }

  .footer p {
    font-size: 1.6rem;
  }

  .hero__btns {
    justify-content: center;
  }

  .hero__btns a:nth-child(1) {
    margin-right: 1em;
  }

  .stripe__svg-bg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -95%);
  }

  .stripe__svg-bg img {
    max-width: 3000px;
    width: 80%;
  }
}

/* Transitioning from menu-nav to desktop-like-nav */
@media screen and (min-width: 768px) {
  .hamburguer {
    display: none;
  }

  .test {
    position: absolute;
    display: flex;
    top: 6vh;
    /* has width of 90, so 5vw are left on the right side */
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    max-width: 1140px;
  }

  .test > * + * {
    margin-left: 2em;
  }

  nav,
  .header {
    position: relative;
    top: 0;
    left: 0;
  }

  .header {
    align-items: center;
    display: flex;
    width: auto;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
    box-shadow: none;
    width: 100%;
    padding: 0;
  }

  .nav__item {
    position: relative;
    height: auto;
    padding: 0;
  }

  .nav__left-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--clr-n-white);
  }

  .nav__left-items > li + li {
    margin-left: 1em;
  }

  .nav__submenu {
    position: absolute;
    text-align: left;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5em 4em 1.5em 1em;
    box-shadow: var(--box-shadow);
  }

  .nav__submenu__item a {
    font-size: 1.3rem;
    margin-left: 0;
  }

  .nav__right-items {
    margin: 0;
    margin-left: 1.5em;
  }

  .nav__btns {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  .btn--login {
    padding: 0;
    margin: 0 0.8em;
    background: transparent;
    color: var(--clr-n-white);
  }

  .btn--sign-up {
    background: var(--clr-n-white);
    color: var(--clr-p-lgt-red);
    padding: 0.8em 2em;
  }

  /* different styling (required by the design) */
  .btn--sign-up:hover,
  .btn--start-for-free:hover {
    color: var(--clr-n-white);
    background: var(--clr-p-very-lgt-red);
    transition: 0.3s ease;
  }

  .text-above-section {
    margin: 1em 0 1em 0;
    font-size: 3rem;
  }

  .hero__svg-bg {
    top: 0%;
    left: 0%;
    width: 50%;
    transform: translate(-70%, -10%);
  }

  /* FOOTER */

  .footer {
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
  }

  /* reset margins */
  .img-wrapper,
  .footer__item {
    margin: 0;
  }

  .img-wrapper {
    margin-right: 3em;
  }

  .footer__list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .footer__item {
    text-align: left;
  }

  .footer__item + .footer__item {
    margin: 0;
    margin-left: 10%;
  }
}

@media screen and (min-width: 900px) {
  .nav__right-items {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .nav__left-items > li + li {
    margin-left: 2.8em;
  }
  .nav__item > button::after {
    content: url("./images/icon-arrow-light.svg");
  }

  .hero {
    padding: 12em 0;
    min-height: auto;
  }

  .hero__info {
    margin-bottom: -4em;
  }

  .hero__svg-bg {
    top: 0%;
    left: 0%;
    width: 50%;
    transform: translate(-70%, -40%);
  }

  .text-above-section {
    margin: 2em 0 -1em 0;
  }

  .section-1,
  .section-2 {
    padding: 9em 0;
  }

  .section__image--1 img,
  .section__image--2 img {
    max-width: 3000px;
    width: 40rem;
    height: 100%;
  }

  .section__info--1,
  .section__info--2 {
    width: 80%;
  }

  /* repositions the new svg */
  .section__image--1 {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(22%, -50%);
    margin: 0;
  }

  /* padding to distanciate a little from the svg */
  .section__info--1 {
    padding-right: 5%;
  }

  .section--stripe {
    margin: 8em auto;
  }

  .section--stripe__info {
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 1rem;
  }

  .section--stripe__phones-svg {
    transform: translate(-25%, 10%);
  }

  .section--stripe__phones-svg img {
    max-width: 3000px;
    width: 30rem;
  }

  .section--stripe__info__text {
    text-align: left;
    margin-left: 50%;
  }

  .section--stripe__info__text {
    align-items: initial;
    max-width: 50%;
  }

  .stripe__svg-bg {
    top: 50%;
    left: 10%;
    transform: translate(-35%, -75%);
  }

  .section__image--2 {
    position: absolute;
    width: 50%;
    top: 50%;
    right: 50%;
    transform: translate(-22%, -50%);
    margin: 0;
  }

  .section__info--2 {
    margin-left: 50%;
    margin-right: 10%;
  }

  .section__info__text {
    max-width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 4em;
  }

  .nav__item > button {
    font-size: 1.7rem;
  }

  .btn--login,
  .btn--sign-up {
    font-size: 1.4rem;
  }

  .nav__left-items > li + li {
    margin-left: 3em;
  }

  .logo {
    max-width: 600px;
    width: 180px;
  }

  .hero h1 {
    font-size: 4rem;
    margin-top: 1em;
  }

  .hero h2 {
    font-size: 1.8rem;
  }

  .hero__btns a {
    font-size: 2rem;
  }

  .text-above-section {
    font-size: 3.5rem;
  }

  .section__info__text h3 {
    font-size: 2rem;
  }

  .section__info__text p {
    font-size: 1.3rem;
  }

  .section__image--1 img,
  .section__image--2 img {
    width: 54rem;
  }

  .section__info--1 {
    padding: 0;
  }

  .section__info--2 {
    width: 100%;
    margin-left: 45%;
    margin-right: 0;
  }
}

@media screen and (min-width: 1440px) {
  .section__info--1 {
    padding-right: 0;
    margin: 0;
  }

  .section__info--1,
  .section__info--2 {
    width: 100%;
  }
}

/* JS CLASSES */
.show-dropdown {
  display: block;
}

.showMenu {
  display: flex;
}
